*.suo
*.pubxml
*/obj/**
*/bin/*
*/App_Data/**
.vs
!/packages/**

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj