html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#info {
    position: absolute;
    z-index: 500;
    background-color: #cce6ff;
    right: 0;
}

#map {
    height: 100%;
    cursor: auto !important;
}